
{% extends 'Page_layout.html' %}

{% block body %}

    <section class="contact_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-12 contact-heading">
                    <div class="heading">
                        <h2><span style="color: red;">Say hello to us</span> <br>
                            love to hear you</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-12 contact-img">
                    <div class="image">
                        <img src="/static/images/11.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="form_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 form_column">
                    <h1>Let's <span style="color: red;">begin</span></h1>
                    <form>
                        <div class="form-group">
                            <input type="text" placeholder="Full Name">
                        </div>
                        <div class="form-group">
                            <input type="email" placeholder="Email address">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Subject">
                        </div>
                        <div class="form-group" >
                            <input type="text" placeholder="Tell us about project" style="padding-bottom: 90px;">
                        </div>
                    </form>
                    <div class="btn">
                        <button type="button">Send</button>
                    </div>
                </div>
                <div class="col-lg-6 col-12 details_column">
                    <div class="row first_row">
                        <div class="col-lg-6 col-12 new_business">
                            <div>
                                <h6>New Business</h6>
                                <div class="arrow">
                                    <a href="#">HELLO@DOMAIN.COM</a>
                                    <span class="material-symbols-outlined">trending_flat</span>
                                </div> 
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 main_studio">
                            <div>
                                <h6>Main Studio</h6>
                                <div class="arrow">
                                <a href="#">STUDIO@DOMAIN.COM</a>
                                    <span class="material-symbols-outlined">trending_flat</span>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="row second_row">
                        <div class="col-lg-6 col-12 our_office">
                            <div>
                                <h6>Our Office</h6>
                                <p>Akershusstranda 20, 0150 Oslo, Norway</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 our_social">
                            <div class="heading">
                                <h6>Our Socials</h6>
                            </div>
                            <div class="icons">
                                <div><i class="fa-brands fa-youtube"></i></div>
                                <div><i class="fa-brands fa-whatsapp"></i></div>
                                <div><i class="fa-brands fa-instagram"></i></div>
                                <div><i class="fa-solid fa-comment-dollar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

{% endblock %}

{% block script %}

{% endblock %}