
{% extends 'Page_layout.html' %}

{% block body %}

<section>
    <div class="container-fluid cont">
        <div class="row heading">
            <h1><span style="color: red;">Choose your</span> <br>
                favorite stuffs</h1>
        </div>
    </div>
</section>
<section>
    <div class="container featured">
        <div class="row heading">
            <h2>New Arrival</h2>
        </div>
        <div class="row cards">
            <div class="col-lg-4 col-12 main">
                <div class="product">
                    <a href="#" class="image">
                        <img class="img-fluid" src="/static/images/05.jpg">
                    </a>
                    <div class="product_top">
                        <span>New Arrival</span>
                        <i class="fa-sharp fa-solid fa-heart"></i>
                    </div>
                    
                </div>
                <div class="product_details">
                    <div class="para">
                        <p>Tree pot</p>
                        <span>$25</span>
                    </div>
                    <span>Original package design from house</span>
                </div>
            </div>
           <div class="col-lg-4 col-12 main">
                <div class="product">
                    <a href="#" class="image">
                        <img class="img-fluid" src="/static/images/06.jpg">
                    </a>
                    <div class="product_top">
                        <span>Discount price</span>
                        <i class="fa-sharp fa-solid fa-heart"></i>
                    </div>
                    
                </div>
                <div class="product_details">
                    <div class="para">
                        <p>Fashion Set</p>
                        <span>$35</span>
                    </div>
                    <span>Costume Package</span>
                </div>
           </div>
            <div class=" col-lg-4 col-12 main">
                <div class="product">
                    <a href="#" class="image">
                        <img class="img-fluid" src="/static/images/08.jpg">
                    </a>
                    <div class="product_top">
                        <span>New Arrival</span>
                        <i class="fa-sharp fa-solid fa-heart"></i>
                    </div>
                    
                </div>
                <div class="product_details">
                    <div class="para">
                        <p>Juice Drinks</p>
                        <span>$45</span>
                    </div>
                     <span>Nature made another world</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container featured">
        <div class="row heading">
            <h2>Popular</h2>
        </div>
        <div class="row cards">
            <div class="col-lg-4 col-12 main">
                <div class="product">
                    <a href="#" class="image">
                        <img class="img-fluid" src="/static/images/16.jpg">
                    </a>
                    <div class="product_top">
                        <span>Trending</span>
                        <i class="fa-sharp fa-solid fa-heart"></i>
                    </div>
                    
                </div>
                <div class="product_details">
                    <div class="para">
                        <p>Package</p>
                        <span>$50</span>
                    </div>
                    <span>Original package design from house</span>
                </div>
            </div>
           <div class="col-lg-4 col-12 main">
                <div class="product">
                    <a href="#" class="image">
                        <img class="img-fluid" src="/static/images/12.jpg">
                    </a>
                    <div class="product_top">
                        <span>Discount price</span>
                        <i class="fa-sharp fa-solid fa-heart"></i>
                    </div>
                    
                </div>
                <div class="product_details">
                    <div class="para">
                        <p>Bottle</p>
                        <span>$100</span>
                    </div>
                    <span>Costume Package</span>
                </div>
           </div>
            <div class=" col-lg-4 col-12 main">
                <div class="product">
                    <a href="#" class="image">
                        <img class="img-fluid" src="/static/images/01.jpg">
                    </a>
                    <div class="product_top">
                        <span>New Arrival</span>
                        <i class="fa-sharp fa-solid fa-heart"></i>
                    </div>
                    
                </div>
                <div class="product_details">
                    <div class="para">
                        <p>Medicine</p>
                        <span>$150</span>
                    </div>
                     <span>Nature made another world</span>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block script %}

{% endblock %}